# Example CODEOWNERS:

# All Go code in contracts/ is owned by @Pheme-Protocol/contracts-team
contracts/ @Pheme-Protocol/contracts-team

# Backend code
src/controllers/ @Pheme-Protocol/backend-team
src/services/ @Pheme-Protocol/backend-team

# Frontend code
web/pages/ @Pheme-Protocol/frontend-team
web/components/ @Pheme-Protocol/frontend-team

# Bots
bots/ @Pheme-Protocol/bots-team

# Docs
docs/ @Pheme-Protocol/docs-team

# Global fallback: @Pheme-Protocol/core-team must review any changes
* @Pheme-Protocol/core-team 